/* Removes default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main app styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #f8d3ff, #c084fc);
  min-height: 100vh;
  color: #2d1b3d;
}

/* Main heading */
h1 {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}